html, body {
  width: 100%; height: 100%;
  background: #fff;
}
body {
  position: relative;
  margin: 0; padding: 0;
}
a, .sketch, .data {
  display: block;
  position: relative;
  margin: 0 auto 3em;
  width: 500px;
  overflow: hidden;
}
a {
  font-family: Arial, sans-serif;
  font-size: 18px; line-height: 18px;
  color: #000;
  text-decoration: none;
  color: #0084b4;
  margin-bottom: 1.5em;
}
.sketch {
  height: 360px;
  outline: none;
  background: #e6e6e6;
  border: 2px solid #bbbbbb;
}
.sketch:hover {
  cursor: pointer;
}
.data {
  font-family: Arial, sans-serif;
  font-size: 12px; line-height: 15px;
  color: #000;
}